<!DOCTYPE html>
<html>
<body>
    <h4>Please Login: </h4>
    <p>Test UserName : xijia</p>
    <p>Test Password : 123 </p>
    
    <form action="/login" method='post'>
        Username:<br>
        <input type="text" name="username">
        <br>
        Password:<br>
        <input type="password" name="password">
        <br>
        <br>
        <input type="submit" value="Login">
    </form>
</body>
</html>